body {
    background-image: url(../img/bg.jpg); /* Путь к фоновому изображению */
   }

header {
	background: url('../img/logo.png') no-repeat left;
	background-color: black;
	color: white;
	font-size: 120px;
	text-align: right;
	
}



aside, section {
	display: inline-block;
	vertical-align: top;
}

aside {
	background-color: #ffff00;
	width: 20%;
}

section {
	background-color: gray;
	width: 79%;
}

footer
{
    background-color: rgba(105, 105, 105);
    padding-top: 2em;
    padding-bottom: 1.2em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer p
{
    color: #FFFFFF;
}

footer a{
	text-decoration: none;
	text-decoration-color: #4682B4;
}

.photo-gallery {
	background-color: lime;
}

.photo-gallery li {
	background-color: purple;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
}

.video-gallery {
	background-color: lime;
}

.video-gallery li {
	background-color: purple;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	width: 45%;
}