field{
	background: LimeGreen;
	width: 700px;
	height: 514px;
	display: block;
	background: url(../img/field.jpg);
}


field .ball{
	background-image: url(../img/ball.png);
	border-radius: 50%;
	background-repeat: none;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-top: 245px;
	margin-left: 335px;
}

field player, field referee{
	width: 25px;
	height: 25px;
	border: 1px solid yellow;
	border-radius: 50%;
	text-align: center;
	color: white;
	position: fixed;
	margin-top: -12px; 
}

field referee{
	background: yellow;
	top: 75px;
	left: 300px;
	color: black;
	background-image: url(../img/referee.png);
}

field player {
	width: 20px;
	border: none;
	border-radius: 0;
	background-color: none;
}

field player:hover{
	width: 30px;
	height: 30px
}

field team#red-team player{
	background: url(../img/team-red.png);
    background-size: cover;

}

field team#blue-team player{
	background: url(../img/team-blue.png);
	background-size: cover;
}


#player1-red{
	top: 260px;
	left: 50px;
}


#player2-red{
	top: 60px;
	left: 120px;
}

#player3-red{
	top: 200px;
	left: 120px;
}

#player4-red{
	top: 330px;
	left: 120px;
}

#player5-red{
	top: 450px;
	left: 120px;
}


#player6-red{
	top: 60px;
	left: 200px;
}


#player7-red{
	top: 200px;
	left: 200px;
}

#player8-red{
	top: 200px;
	left: 280px;
}

#player9-red{
	top: 200px;
	left: 320px;
}

#player10-red{
	top: 330px;
	left: 200px;
}

#player11-red{
	top: 330px;
	left: 280px;
}



#player1-blue{
	top: 200px;
	left: 777px;
}


#player2-blue{
	top: 60px;
	left: 680px;
}

#player3-blue{
	top: 60px;
	left: 590px;
}

#player4-blue{
	top: 60px;
	left: 490px;
}

#player5-blue{
	top: 200px;
	left: 680px;
}

#player6-blue{
	top: 200px;
	left: 590px;
}


#player7-blue{
	top: 200px;
	left: 490px;
}

#player8-blue{
	top: 200px;
	left: 440px;
}

#player9-blue{
	top: 330px;
	left: 680px;
}

#player10-blue{
	top: 330px;
	left: 590px;
}

#player11-blue{
	top: 330px;
	left: 490px;
}