field{
	background: LimeGreen;
	width: 700px;
	height: 514px;
	display: block;
	background: url(../img/field.jpg);
}

ball{
background: url(../img/ball.png);
background-size: contain;
width: 20px;
height: 20px;
-webkit-animation-name: MovingBall;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count: infinite;
position: absolute;
animation-timing-function: ease-in-out;
left: 30px;
top: 150px;
}

@-webkit-keyframes MovingBall {
0% {left: 50px; top: 260px;}
5% {left: 120px; top:200px;}
15% {left: 120px; top: 450px;}
35% {left: 200px; top: 330px;}
65% {left: 290px; top: 210px;}
85% {left: 345px; top: 200px;}
95% {left: 670px; top: 275px;}
100% {left: 670px; top: 275px;}
}

field player, field referee{
	width: 25px;
	height: 25px;
	border: 1px solid yellow;
	border-radius: 50%;
	text-align: center;
	color: black;
	position: absolute;
	margin-top: -12px; 
}

field referee{
	background: yellow;
	top: 75px;
	left: 300px;
	color: black;
	background-image: url(../img/referee.png);
}

field player {
	width: 20px;
	border: none;
	border-radius: 0;
	background-color: none;
}

field player:hover{
	width: 30px;
	height: 30px
}

field team#red-team player{
	background: url(../img/team-red.png);
    background-size: cover;

}

field team#blue-team player{
	background: url(../img/team-blue.png);
	background-size: cover;
}


#player1-red{
	top: 260px;
	left: 50px;
	-webkit-animation-name: goalkeeper;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	position: absolute;
	animation-timing-function: ease-in-out;
	left: 30px;
	top: 150px;
}

@-webkit-keyframes goalkeeper {
0% {left: 50px; top: 260px;}
15% {left: 100px; top: 265px;}
35% {left: 100px; top: 260px;}
95% {left: 50px; top: 260px;}
100% {left: 80px; top: 255px;}
}

#player2-red{
	top: 60px;
	left: 120px;
}

#player3-red{
	top: 200px;
	left: 120px;
}

#player4-red{
	top: 330px;
	left: 120px;
}

#player5-red{
	top: 450px;
	left: 120px;
}


#player6-red{
	top: 210px;
	left: 290px;
}


#player7-red{
	top: 200px;
	left: 200px;
}

#player8-red{
	top: 320px;
	left: 290px;
}

#player9-red{
	top: 200px;
	left: 345px;
}

#player10-red{
	top: 330px;
	left: 200px;
}

#player11-red{
	top: 330px;
	left: 345px;
}



#player1-blue{
	top: 260px;
	left: 645px;
	-webkit-animation-name:  goolkeeper;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	position: absolute;
	animation-timing-function: ease-in-out;
}
	@-webkit-keyframes goolkeeper {
	0% {left: 645px; top: 260px;}
	15% {left: 645px; top: 265px;}
	35% {left: 645px; top: 260px;}
	45% {left: 645px; top: 260px;}
	55% {left: 630px; top: 260px;}
	65% {left: 645px; top: 260px;}
	95% {left: 640px; top: 260px;}
	100% {left: 645px; top: 255px;}
}


#player2-blue{
	top: 450px;
	left: 490px;
}

#player3-blue{
	top: 60px;
	left: 590px;
}

#player4-blue{
	top: 60px;
	left: 490px;
}

#player5-blue{
	top: 330px;
	left: 420px;
}

#player6-blue{
	top: 200px;
	left: 580px;
}


#player7-blue{
	top: 200px;
	left: 490px;
}

#player8-blue{
	top: 200px;
	left: 420px;
}

#player9-blue{
	top: 330px;
	left: 580px;
}

#player10-blue{
	top: 450px;
	left: 590px;
}

#player11-blue{
	top: 330px;
	left: 490px;
}

field tango {
  background: url(../img/jb.gif);
  background-size: contain;
  -webkit-animation-name: tango;
  -webkit-animation-duration: 4.7s;
  -webkit-animation-direction: forwards;
  
  height: 150px;
  width: 110px;
  position: absolute;
  left: 700px;
  top: 250px;
}

@keyframes tango {
	0% {left: 100px; top: 0px; opacity: 0}
	15% {left: 0px; top: 0px;}
	35% {left: 0px; top: 0px;}
	45% {left: 0px; top: 0px;}
	55% {left: 630px; top: 260px; opacity: 0}
	65% {left: 645px; top: 260px; opacity: 0}
	95% {left: 640px; top: 260px; opacity: 0}
	100% {left: 645px; top: 255px; opacity: 1}
}